<header class="site-header">
  <nav>
    <a href="/" class="logo">{{ site.title }}</a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/tool/">Tool</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </nav>
</header>
